[include]
	path = ~/.gitconfig.local

[alias]
	co = checkout
	st = status

	ci = commit
	amend = commit --amend

	graph = log --graph --oneline
	mine = !"git log --author=$(git config --get user.email)"

  publish = "!f() { git push -u ${1:-origin} $(git rev-parse --abbrev-ref HEAD); }; f"

[branch]
	autosetuprebase = always

[checkout]
	defaultremote = origin

[commit]
	verbose = true

[diff]
	algorithm = histogram
	tool = nvimdiff
	external = difft --display side-by-side-show-both

[grep]
	linenumber = true

[help]
	autocorrect = 1

[pull]
	rebase = true

[rebase]
	autosquash = true
	autostash = true

[init]
	defaultBranch = main
[difftool]
	prompt = false
