[user]
email = {{ .email | quote }}
name = {{ .name | quote }}

[ui]
default-command = "log"
diff-editor = ":builtin"
diff-formatter = "difft"
pager = ":builtin"

[merge-tools.difft]
diff-args = ["--color=always", "$left", "$right"]

[aliases]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

[templates]
git_push_bookmark = '"afgomez/push-" ++ change_id.short()'
