[user]
email = {{ .email | quote }}
name = {{ .name | quote }}

[ui]
default-command = "log"
diff-editor = ":builtin"
diff-formatter = "difft"

[merge-tools.difft]
diff-args = ["--color=always", "$left", "$right"]

[aliases]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

[git]
push-bookmark-prefix = "afgomez/push-"
